@model ChatPageViewModel

@{
    ViewBag.Title = "Index";
    bool isFirstUser = true;
}

<div class="container chat-container">

    <!-- Chat navigation -->
    <div class="row">
        <!-- List of users -->
        <div class="col-3">

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                @foreach (var user in Model.Users)
                {
                    <a class="nav-link @(isFirstUser ? "active" : "") user-in-list"
                       id=@("v-pills-" + user.Id + "-tab")
                       data-userid="@user.Id"
                       data-toggle="pill"
                       href=@("#v-pills-" + user.Id) role="tab"
                       aria-controls=@("v-pills-" + user.Id) aria-selected="@isFirstUser.ToString().ToLower()"
                       data-isfirstuser="@isFirstUser.ToString().ToLower()">@user.UserName
                        <small class="ml-2 typing" style="display:none">typing...</small>
                    </a>

                    isFirstUser = false;
                }

            </div>
        </div>

        <!-- Message containers -->
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                @Html.Partial("_MessageContainer", Model.MessageContainerViewModel)
            </div>

            <!-- Chat textbox -->
            <form class="form-inline msg-form" id="msgForm">
                <input id="msgTextbox" class="form-control msg-textbox col-10" type="text" placeholder="Write a message">
                <button id="msgFormSendBtn" type="submit" class="btn btn-primary ml-2 send-msg-btn">Send</button>
            </form>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/Chat/chat.js"></script>
}

@section styles {
    <link rel="stylesheet" href="~/Frontend_Design/css/style.css">
}